.o-grid {
  margin: -1em 0 0 -2em;

  @media (min-width: 48em) {
    display: flex;
    flex-wrap: wrap;
  }
}

.o-grid__column {
  padding: 1em 0 0 2em;

  @media (min-width: 48em) {
    flex-basis: 50%;
  }
}
