.o-grid {
  margin: -1em 0 0 -2em;

  @media (min-width: 48em) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.o-grid__column {
  padding: 1em 0 0 2em;

  @media (min-width: 48em) {
    flex-basis: 50%;
    max-width: 50%;
  }
}

.o-grid__column--double {
  padding-top: 2em;
}

.o-grid__column--vertical {
  display: flex;
  flex-direction: column;
}
