{% extends "generic/regions.njk" %}
{% block main %}
<div class="c-main">

  <div class="c-section c-section--banana-mania">

    <div class="o-container">

      <h2 class="c-title">When super isn’t so super</h2>
      <!-- /c-title -->

    </div>
    <!-- /o-container -->

  </div>
  <!-- /c-section -->


  <div class="c-section c-section--sweet-corn">

    <div class="o-container">

      <h3 class="c-subtitle">Super in numbers</h3>
      <!-- /c-subtitle -->

    </div>
    <!-- /o-container -->

  </div>
  <!-- /c-section -->


  <div class="c-section c-section--manhattan">

    <div class="o-container">

      <h2 class="c-title">Accounting for the gap</h2>
      <!-- /c-title -->

    </div>
    <!-- /o-container -->

  </div>
  <!-- /c-section -->


  <div class="c-section c-section--jagged-ice">

    <div class="o-container">

      <h2 class="c-title">Closing the gap</h2>
      <!-- /c-title -->

    </div>
    <!-- /o-container -->

  </div>
  <!-- /c-section -->


  <div class="c-section c-section--ziggurat">

    <div class="o-container">

      <h3 class="c-subtitle">The legislative changes proposed by IndustrySuper Funds are:</h3>
      <!-- /c-subtitle -->

    </div>
    <!-- /o-container -->

  </div>
  <!-- /c-section -->

</div>
<!-- /c-main -->
{% endblock %}
