{% extends "generic/regions.njk" %}
{% block main %}
<div class="c-main">

  <div class="c-section c-section--joiner c-section--drover">

    <div class="o-container">

      <h2 class="c-title c-title--image u-vertical-space">
        <img class="c-title__image" src="{{ cdn }}images/portrait-1.gif" alt="">
        When super isn’t so super
      </h2>
      <!-- /c-title -->


      <div class="u-vertical-space">

        <div class="o-grid">
          <div class="o-grid__column">

            <div class="s-entry-content">
              <p>The disparity of super balances between men and women is decreasing, and will continue to decrease as new generations of women spend more time in the workforce than their mothers and grandmothers, but there is still a lot of work to be done.</p>
              <p>According to the ASFA Retirement Standard a single person requires $545,000 to retire comfortably. So unfortunately, until the gap is addressed, many individuals will retire with inadequate superannuation savings.</p>
            </div>
            <!-- /s-entry-content -->

          </div>
          <div class="o-grid__column">

            <div class="s-entry-content">
              <blockquote>
                <p>Time out of the workforce to have children or provide care will impact your super</p>
                <footer>Sarah Saunders, ISA Head of Consumer Advocacy</footer>
              </blockquote>
            </div>
            <!-- /s-entry-content -->

          </div>
        </div>
        <!-- /o-grid -->

      </div>
      <!-- /u-vertical-space -->

    </div>
    <!-- /o-container -->

  </div>
  <!-- /c-section -->


  <div class="c-section c-section--sweet-corn">

    <div class="o-container">

      <h3 class="c-subtitle u-vertical-space">Super in numbers</h3>
      <!-- /c-subtitle -->


      <div class="u-vertical-space">

        <ul class="c-stats">
          <li class="c-stats__item">
            <span class="c-stats__stat" aria-hidden="true">58%</span>
            Around 58% of Australia’s total superannuation assets are held by those aged 50-69
          </li>
          <li class="c-stats__item">
            <span class="c-stats__stat" aria-hidden="true">45%</span>
            Around 45% of females ages 65-69 report having no superannuation
          </li>
          <li class="c-stats__item">
            <span class="c-stats__stat" aria-hidden="true">40%</span>
            It is estimated that more than 40% of older single women live in poverty
          </li>
          <li class="c-stats__item">
            <span class="c-stats__stat" aria-hidden="true">1 in 4</span>
            1 in 4 men and 1 in 3 women report having no superannuation savings
          </li>
        </ul>
        <!-- /c-stats -->

      </div>
      <!-- /u-vertical-space -->

    </div>
    <!-- /o-container -->

  </div>
  <!-- /c-section -->


  <div class="c-section c-section--manhattan">

    <div class="o-container">

      <h2 class="c-title c-title--image u-vertical-space">
        <img class="c-title__image" src="{{ cdn }}images/portrait-2.gif" alt="">
        Accounting for the gap
      </h2>
      <!-- /c-title -->


      <div class="s-entry-content u-vertical-space">
          <p>Though the gender pay gap accounts for a large percentage of the super gap, there are a number of other contributing factors that are social, biological and economic which are harder to address.</p>
        </div>
        <!-- /s-entry-content -->


      <div class="u-vertical-space">

        <ul class="c-flip-cards">
          <li class="c-flip-cards__item">

            <div class="c-flip-card" tabindex="0">
              <div class="c-flip-card__plane">
                <h3 class="c-flip-card__face c-flip-card__face--front">Maternity leave</h3>
                <p class="c-flip-card__face c-flip-card__face--back">5 years out of the paid labour force for a person on average earnings during their early 30s will reduce the eventual retirement account balance by over $80,000.</p>
              </div>
            </div>
            <!-- /c-flip-card -->

          </li>
          <li class="c-flip-cards__item">

            <div class="c-flip-card" tabindex="0">
              <div class="c-flip-card__plane">
                <h3 class="c-flip-card__face c-flip-card__face--front">Pay gap</h3>
                <p class="c-flip-card__face c-flip-card__face--back">The WEGA scorecard shows that full-time working women earn a base salary that is about 18% less, and a total remuneration that is more than 22% less, than full-time working men.</p>
            </div>
            </div>
            <!-- /c-flip-card -->

          </li>
          <li class="c-flip-cards__item">

            <div class="c-flip-card" tabindex="0">
              <div class="c-flip-card__plane">
                <h3 class="c-flip-card__face c-flip-card__face--front">Industry</h3>
                <p class="c-flip-card__face c-flip-card__face--back">Men and women are not distributed evenly across different industries, and female dominated industries like nursing and teaching tend to attract lower wages.</p>
            </div>
            </div>
            <!-- /c-flip-card -->

          </li>
          <li class="c-flip-cards__item">

            <div class="c-flip-card" tabindex="0">
              <div class="c-flip-card__plane">
                <h3 class="c-flip-card__face c-flip-card__face--front">Under representation in senior roles</h3>
                <p class="c-flip-card__face c-flip-card__face--back">Men make up the vast majority of senior executive and board level positions which are rewarded with a much higher annual salary.</p>
              </div>
            </div>
            <!-- /c-flip-card -->

          </li>
          <li class="c-flip-cards__item">

            <div class="c-flip-card" tabindex="0">
              <div class="c-flip-card__plane">
                <h3 class="c-flip-card__face c-flip-card__face--front">Tax concessions</h3>
                <p class="c-flip-card__face c-flip-card__face--back">The bottom 30% of income earners who are predominantly women receive no government tax concessions, while the top 20% of income earners receive $10,000 per year.</p>
              </div>
            </div>
            <!-- /c-flip-card -->

          </li>
          <li class="c-flip-cards__item">

            <div class="c-flip-card" tabindex="0">
              <div class="c-flip-card__plane">
                <h3 class="c-flip-card__face c-flip-card__face--front">Life span</h3>
                <p class="c-flip-card__face c-flip-card__face--back">Women typically retire earlier than men and on average live longer, and therefore require more superannuation to retire on comfortably.</p>
            </div>
            </div>
            <!-- /c-flip-card -->

          </li>
          <li class="c-flip-cards__item">

            <div class="c-flip-card" tabindex="0">
              <div class="c-flip-card__plane">
                <h3 class="c-flip-card__face c-flip-card__face--front">Part-time and casual work</h3>
                <p class="c-flip-card__face c-flip-card__face--back">Women currently make up more than 71% of all part-time employees, working in part-time or casual capacity, leaves them with less working hours to build their super balance.</p>
              </div>
            </div>
            <!-- /c-flip-card -->

          </li>
        </ul>
        <!-- /c-flip-cards -->

      </div>
      <!-- /u-vertical-space -->

    </div>
    <!-- /o-container -->

  </div>
  <!-- /c-section -->


  <div class="c-section c-section--joiner c-section--jagged-ice">

    <div class="o-container">

      <h2 class="c-title c-title--image u-vertical-space">
        <img class="c-title__image" src="{{ cdn }}images/portrait-3.gif" alt="">
        Closing the gap
      </h2>
      <!-- /c-title -->


      <div class="u-vertical-space">

        <div class="o-grid">
          <div class="o-grid__column">

            <div class="s-entry-content">
              <p>Fixing the super gap isn’t the responsibility of women, if super is going to be made fair, it’s about big changes at a government level.</p>
              <h3>Super freeze</h3>
              <p>The Super Guarantee Freeze came into effect September 2014, and brought and end to the previously legislated increase in the Superannuation Guarantee.</p>
              <p>The decision to freeze mandatory super contributions at 9% was based largely on the impacts on small and medium business and the economy, but it will result in the majority of Australians retiring with a significantly reduced superannuation fund.</p>
            </div>
            <!-- /s-entry-content -->

          </div>
          <div class="o-grid__column">

            <div class="s-entry-content">
              <blockquote>
                <p>The onus is on government to ensure the super system works for all of us</p>
                <footer>Sarah Saunders, ISA Head of Consumer Advocacy</footer>
              </blockquote>
            </div>
            <!-- /s-entry-content -->

          </div>
        </div>
        <!-- /o-grid -->

      </div>
      <!-- /u-vertical-space -->

    </div>
    <!-- /o-container -->

  </div>
  <!-- /c-section -->


  <div class="c-section c-section--ziggurat">

    <div class="o-container">

      <h3 class="c-subtitle u-vertical-space">The legislative changes proposed by IndustrySuper Funds are:</h3>
      <!-- /c-subtitle -->


      <div class="s-entry-content u-vertical-space">
        <ul>
          <li>Ensuring there are no further delays in increasing employer super contributions from 9% to 12%.</li>
          <li>Paying super during paid parental leave is compulsory for employers so it is in line with all other types of leave.</li>
          <li>Lifting the rule that those who earn less than $450 a month are not entitled to superannuation contributions from employers.</li>
          <li>Addressing the super tax concessions that are currently skewed to benefit men. Women receive only a third of government tax concessions on super, while men who have higher incomes receive two thirds of the concessions.</li>
        </ul>
      </div>
      <!-- /s-entry-content -->

    </div>
    <!-- /o-container -->

  </div>
  <!-- /c-section -->

</div>
<!-- /c-main -->
{% endblock %}
