{% extends "generic/regions.njk" %}
{% block main %}
<main class="c-main">

  <div class="c-section">

    <div class="o-container"></div>
    <!-- /o-container -->

  </div>
  <!-- /c-section -->

</main>
<!-- /c-main -->
{% endblock %}
