.c-difference {
  @include fluid-type(padding-left padding-right, 20em, 48em, 2em, 4em);
  background-color: $white;
  color: $bunting;
  font-weight: bold;
  padding-top: 1em;
  text-align: center;
}

.c-difference__highlight {
  font-size: 2em;
}

.c-difference__button {
  transform: translatey(1em);
}
