.c-form {
  margin: -2em 0 0 -2em;

  @media (min-width: 48em) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.c-form__item {
  display: flex;
  flex-direction: column;
  padding: 2em 0 0 2em;

  @media (min-width: 48em) {
    flex-basis: 50%;
    max-width: 50%;
  }
}
