.c-header {
  background-image: url(#{$cdn}images/background.png), linear-gradient(90deg, $manhattan 50%, $swans-down 50%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  flex: none;
}

.c-header__container {
  position: relative;
}
