.c-input {
  @extend %u-transition;
  border-radius: 0.25em;
  border: $bunting solid 2px;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  height: 3em;
  padding: 0 0.75em;
  width: 100%;
}
