.c-people {
  @include fluid-type(top, 20em, 48em, -1em, -2em);
  perspective: 60em;
  position: absolute;

  &.is-retired .c-people__image {
    transform: rotatey(180deg);
  }

  &.is-retired .c-people__image:last-child {
    transform: rotatey(360deg);
  }
}

.c-people--woman {
  @include fluid-type(margin-right, 20em, 48em, -2em, -4em);
  right: 100%;
}

.c-people--man {
  @include fluid-type(margin-left, 20em, 48em, -2em, -4em);
  left: 100%;
}

.c-people__image {
  @include fluid-type(height, 20em, 48em, 15.625em, 31.25em);
  backface-visibility: hidden;
  transition: 0.5s transform ease-out;

  &:last-child {
    left: 0;
    position: absolute;
    top: 0;
    transform: rotatey(180deg);
  }
}
