.c-section {
  @include fluid-type(padding-bottom padding-top, 20em, 48em, 2em, 4em);
  background-image: url(#{$cdn}images/background.png);
  background-position: 0 100%;
  background-repeat: repeat-x;
}

.c-section--joiner {
  padding-bottom: 2em;

  + .c-section {
    padding-top: 2em;
  }
}

.c-section--drover {
  background-color: $drover;
}

.c-section--jagged-ice {
  background-color: $jagged-ice;
}

.c-section--manhattan {
  background-color: $manhattan;
}

.c-section--sweet-corn {
  background-color: $sweet-corn;
}

.c-section--ziggurat {
  background-color: $ziggurat;
}
