.c-section {
  background-image: url(#{$cdn}images/background.png);
  background-position: 0 100%;
  background-repeat: repeat-x;
  padding: 2em 0;
}

.c-section--separate {
  @include fluid-type(padding-bottom, 20em, 48em, 2em, 4em);
}

.c-section--drover {
  background-color: $drover;
}

.c-section--jagged-ice {
  background-color: $jagged-ice;
}

.c-section--manhattan {
  background-color: $manhattan;
}

.c-section--sweet-corn {
  background-color: $sweet-corn;
}

.c-section--ziggurat {
  background-color: $ziggurat;
}
