.c-section {}

.c-section--banana-mania {
  background-color: $banana-mania;
}

.c-section--jagged-ice {
  background-color: $jagged-ice;
}

.c-section--manhattan {
  background-color: $manhattan;
}

.c-section--sweet-corn {
  background-color: $sweet-corn;
}

.c-section--ziggurat {
  background-color: $ziggurat;
}
