.c-title {
  @include fluid-type(font-size, 20em, 48em, 1.5em, 2.5em);
  color: $bunting;
  font-family: $serif;
  font-weight: bold;
  line-height: 1.25;
}

.c-title--center {
  text-align: center;
}

.c-title--image {
  align-items: center;
  border-bottom: $white solid 3px;
  display: flex;
  justify-content: center;
}

.c-title__image {
  height: 3em;
  margin-right: 0.5em;
}
