$apricot: #ed9670;
$banana-mania: #fcecad;
$bunting: #141c41;
$jagged-ice: #ccebea;
$manhattan: #f6c4a9;
$swans-down: #d8eceb;
$sweet-corn: #fae291;
$tundora: #4a4a4a;
$white: #ffffff;
$ziggurat: #bce1e0;
