<footer class="c-footer">

  <div class="o-container">

    <ul class="c-footnotes">
      <li class="c-footnotes__item">
        <sup>1, 10</sup>
        Industry Super Australia —
        <a href="http://www.industrysuperaustralia.com/campaigns/closing-the-gender-superannuation-gap">Closing the gender superannuation gap</a>
      </li>
      <li class="c-footnotes__item">
        <sup>2, 3, 4, 6, 7</sup>
        ASFA Research and Resource Centre —
        <a href="https://www.superannuation.asn.au/ArticleDocuments/359/1710_Superannuation_account_balances_by_age_and_gender.pdf.aspx?Embed=Y">Superannuation account balances by age and gender</a>
      </li>
      <li class="c-footnotes__item">
        <sup>5</sup>
        Women In Super —
        <a href="http://www.womeninsuper.com.au/content/the-facts-about-women-and-super/gjumzs">The Facts About Women and Super</a>
      </li>
      <li class="c-footnotes__item">
        <sup>8, 9, 11</sup>
        Workplace Gender Equality Agency —
        <a href="https://www.wgea.gov.au/sites/default/files/2016-17-gender-equality-scorecard.pdf">Australia’s gender equality scorecard</a>
      </li>
    </ul>
    <!-- /c-footnotes -->

  </div>
  <!-- /o-container -->

</footer>
<!-- /c-footer -->
