<header class="c-header">

  <div class="o-container c-header__container">

    <div class="c-people c-people--woman">
      <img class="c-people__image" src="{{ cdn }}images/woman-young.png" alt="">
    </div>
    <!-- /c-people -->


    <h1 class="c-title u-vertical-space">How will the gender pay gap affect your super?</h1>
    <!-- /c-title -->

    <div class="c-people c-people--man">
      <img class="c-people__image" src="{{ cdn }}images/man-young.png" alt="">
    </div>
    <!-- /c-people -->

  </div>
  <!-- /o-container -->

</header>
<!-- /c-header -->
