<header class="c-header">

  <div class="o-container c-header__container">

    <div class="c-people c-people--woman">
      <img class="c-people__image" src="{{ cdn }}images/woman-young.png" alt="">
    </div>
    <!-- /c-people -->


    <form class="c-calculator">

      <h1 class="c-title u-vertical-space">How will the gender pay gap affect your super?</h1>
      <!-- /c-title -->


      <div class="s-entry-content u-vertical-space">
        <p>Due to a number of social, economic and biological factors women are retiring with on average 47% less superannuation than men. Find out how the super gap will affect your retirement.</p>
      </div>
      <!-- /s-entry-content -->


      <div class="u-vertical-space">

        <div class="c-form">
          <div class="c-form__item">

            <label class="c-label" for="age">Age</label>
            <!-- /c-label -->


            <div class="c-select">
              <select id="age">
                <option>under 25 years</option>
                <option>25 to 29 years</option>
                <option>30 to 34 years</option>
                <option>35 to 39 years</option>
                <option>40 to 44 years</option>
                <option>45 to 49 years</option>
                <option>50 to 54 years</option>
                <option>55 to 59 years</option>
                <option>60 to 64 years</option>
                <option>65 years and over</option>
              </select>
            </div>
            <!-- /c-select -->

          </div>
          <div class="c-form__item">

            <label class="c-label" for="income">Annual income ($)</label>
            <!-- /c-label -->


            <input class="c-input" id="income" type="number" placeholder="optional">
            <!-- /c-input -->

          </div>
          <div class="c-form__item">

            <button class="c-button" type="submit">Submit</button>
            <!-- /c-button -->

          </div>
        </div>
        <!-- /c-form -->

      </div>
      <!-- /u-vertical-space -->

    </form>
    <!-- /c-calculator -->


    <div class="c-results u-hidden">

      <div class="c-balance u-vertical-space u-vertical-space--large">
        <p class="c-balance__text-content">
          The average super balance for a female of your age is
          <strong class="c-balance__value js-female-balance">$0</strong>
        </p>
        <p class="c-balance__text-content">
          The average super balance for a male of the same age is
          <strong class="c-balance__value js-male-balance">$0</strong>
        </p>
      </div>
      <!-- /c-balance -->


      <div class="c-chart u-vertical-space u-vertical-space--large">
        <div class="c-chart__column">
          <div class="c-chart__wrap">
            <div class="c-chart__bar js-chart-bar"></div>
          </div>
        </div>
        <div class="c-chart__column">
          <div class="c-chart__wrap">
            <div class="c-chart__bar"></div>
          </div>
        </div>
      </div>
      <!-- /c-chart -->


      <div class="c-difference u-vertical-space u-vertical-space--large">

        <p>
          This equates to a difference of
          <strong class="c-difference__value js-balance-difference">$0</strong>
          or
          <strong class="c-difference__value js-percentage-difference">0%</strong>
        </p>


        <button class="c-button c-difference__button">What about retirement?</button>
        <!-- /c-button -->

      </div>
      <!-- /c-difference -->

    </div>
    <!-- /c-results -->


    <div class="c-people c-people--man">
      <img class="c-people__image" src="{{ cdn }}images/man-young.png" alt="">
    </div>
    <!-- /c-people -->

  </div>
  <!-- /o-container -->

</header>
<!-- /c-header -->
