<header class="c-header">

  <div class="o-container">

    <h1 class="c-title">How will the gender pay gap affect your super?</h1>
    <!-- /c-title -->

  </div>
  <!-- /o-container -->

</header>
<!-- /c-header -->
