@if not $cdn {
  body {
    background-color: #e9eff1;
    margin: 0;
  }
}

@if $cdn {
  figure.element {
    background-color: #e9eff1;
    margin: 0;
  }
}

.s-interactive.s-interactive {

// Settings ----------------------------

@import "settings/colors";
@import "settings/font-stacks";


// Tools -------------------------------

@import "tools/fluid-type";
@import "tools/strip-unit";
@import "tools/svg-encode";


// Generic -----------------------------

@import "generic/box-model";
@import "generic/font-smoothing";
@import "generic/reset";
@import "generic/web-fonts";
@import "generic/what-input";


// Elements ----------------------------

@import "elements/document";


// Objects -----------------------------

@import "objects/body-wrap";
@import "objects/container";
@import "objects/grid";


// Components --------------------------

@import "components/button";
@import "components/input";
@import "components/label";
@import "components/select";
@import "components/subtitle";
@import "components/title";

// Regions
@import "components/footer";
@import "components/header";
@import "components/main";

// Widgets
@import "components/balance";
@import "components/calculator";
@import "components/chart";
@import "components/difference";
@import "components/flip-cards";
@import "components/people";
@import "components/section";
@import "components/stats";


// Scopes ------------------------------

@import "scopes/entry-content";


// Utilities ---------------------------

@import "utilities/focus-rings";
@import "utilities/hidden";
@import "utilities/transition";
@import "utilities/vertical-space";

}
