@if not $cdn {
  body {
    margin: 0;
  }
}

@if $cdn {}

.s-interactive.s-interactive {

// Settings ----------------------------

@import "settings/colors";
@import "settings/font-stacks";


// Tools -------------------------------

@import "tools/fluid-type";
@import "tools/strip-unit";
@import "tools/svg-encode";


// Generic -----------------------------

@import "generic/box-model";
@import "generic/font-smoothing";
@import "generic/web-fonts";
@import "generic/what-input";


// Elements ----------------------------

@import "elements/document";


// Objects -----------------------------

@import "objects/body-wrap";
@import "objects/container";
@import "objects/grid";


// Components --------------------------

// Regions
@import "components/header";
@import "components/main";

// Widgets
@import "components/flip-cards";
@import "components/section";
@import "components/subtitle";
@import "components/title";


// Scopes ------------------------------

@import "scopes/entry-content";


// Utilities ---------------------------

@import "utilities/vertical-space";

}
