.s-entry-content {
  blockquote {
    @extend .c-subtitle;

    p {
      margin: 0;
      position: relative;

      &::before {
        content: "“";
        position: absolute;
        right: 100%;
      }

      &::after {
        content: "”";
      }
    }

    footer {
      @include fluid-type(font-size, 20em, 48em, 1rem, 1.25rem);
      margin-top: 1em;

      &::before {
        content: "— ";
      }
    }
  }

  h3 {
    @extend .c-subtitle;
  }

  ul {
    @extend .o-grid;

    li {
      @extend .o-grid__column;
      display: flex;

      &::before {
        background-color: currentcolor;
        border-radius: 50%;
        content: "";
        flex: none;
        height: 0.5em;
        margin: 0.4375em 0.5em 0 0;
        width: 0.5em;
      }
    }
  }

  blockquote,
  h3,
  p {
    @include fluid-type(margin-bottom margin-top, 20em, 48em, 1rem, 1.25rem);

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
