.s-entry-content {
  blockquote {
    @extend .c-subtitle;

    p {
      margin: 0;
      position: relative;

      &::before {
        content: "“";
        position: absolute;
        right: 100%;
      }

      &::after {
        content: "”";
      }
    }

    footer {
      @include fluid-type(font-size, 20em, 48em, 1rem, 1.25rem);
      margin-top: 1em;

      &::before {
        content: "— ";
      }
    }
  }

  h3 {
    @extend .c-subtitle;
  }

  blockquote,
  h3,
  p {
    @include fluid-type(margin-bottom margin-top, 20em, 48em, 1rem, 1.25rem);

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
