{% if not cdn %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Industry Super – Wage Gap (Immersive)</title>
    <link rel="stylesheet" href="main.css">
    <!-- Google Analytics -->
    <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-78705427-1', 'auto');
    ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics_debug.js'></script>
    <!-- End Google Analytics -->
  </head>
  <body>
{% endif %}
    <section class="o-body-wrap s-interactive">
      {% block regions %}{% endblock %}
    </section>
    <!-- /o-body-wrap -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
{% if not cdn %}
    <script src="main.js"></script>
  </body>
</html>
{% endif %}
